<!DOCTYPE html>
<html>
<head>
 <title></title> <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body><h2>Inter-Galactic Football Simulation</h2>
	<p align="left"><a href=login><button class=grey style="height:75px;width:150px;background-color: #e7e7e7">Add Team</button></a>
					<a href=teams><button class=grey style="height:75px;width:150px;background-color: #e7e7e7">List Teams</button></a>
					<a href=matches><button class=grey style="height:75px;width:150px;background-color: #e7e7e7">List Matches</button></a>
					<a href=ranking><button class=grey style="height:75px;width:150px;background-color: #e7e7e7">Ranking</button></a>
	</p>
</body>
</html>